html {
  --background: rgb(40, 40, 40);
  --text: rgb(255, 255, 255);
  --link-hover-bg: rgb(100, 100, 100);
}

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr;
}

header * {
  color: white;
}
.logo {
  font-size: 2rem;
}
header {
  background: rgb(40, 40, 40);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--text);
}
header a {
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
header a .material-symbols-outlined {
  font-size: 2rem;
}
header a:hover {
  opacity: 0.8;
}
.login {
  background: none;
  font-size: 1.5rem;
  border: none;
}
.login:hover {
  opacity: 0.8;
  cursor: pointer;
}

.home {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  background: var(--background);
  border-right: 2px solid var(--text);
  padding: 15px;
}
aside li {
  list-style: none;
}
aside ul {
  padding: 0;
}
aside .default-projects-container {
  padding-bottom: 20px;
}
aside .project {
  font-size: 1.25rem;
  padding: 3px;
  margin: 2px;
}
aside .project:hover,
aside .selected {
  cursor: pointer;
  background: var(--link-hover-bg);
}
aside h2 {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-outlined {
  text-decoration: none;
}

.task-add {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: -10px;
  padding-bottom: 10px;
}
.task-add:hover {
  opacity: 0.8;
}
.task-add span {
  padding-left: 5px;
  padding-bottom: 2px;
}

.tasks-container {
  background: var(--background);
  padding: 15px;
}
.tasks-container h2 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 20px;
}
.edit-icon:hover {
  opacity: 1;
  cursor: pointer;
}
.edit-icon {
  padding-right: 5px;
}

.tasks-container .project-name-form {
  display: flex;
  align-items: center;
}
.tasks-container .project-name-input {
  font-size: 1.8rem;
  width: auto;
}

.default-projects .project {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tasks {
  padding-top: 20px;
}
.task-list {
  padding-left: 10px;
}
.task-list li {
  list-style: none;
}

.task {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--link-hover-bg);
  padding: 10px 10px;
  justify-content: space-between;
}
.task:hover {
  background: var(--link-hover-bg);
  cursor: pointer;
}
.task .repeat-icon {
  color: rgb(0, 129, 176);
  padding-left: 10px;
}
.task .repeat-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}
.task .complete-icon {
  font-size: 32px;
  opacity: 0.5;
}
.task .edit-icon {
  opacity: 0.5;
}
.task .complete-icon:hover {
  color: green;
  opacity: 1;
}
.task .faded {
  opacity: 0.5;
  color: var(--text);
}
.task .faded:hover,
.task .edit-icon:hover {
  opacity: 1 !important;
}
.task-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task .due-date {
  font-size: 1.2rem;
}
.task .task-name {
  font-size: 1.2rem;
}

.page {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-container {
  background: var(--background);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.input-group-checkbox {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.input-group-checkbox input {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

.delete-btn,
.submit-btn {
  background-color: rgb(0, 140, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}
.submit-btn:hover,
.task-modal button:hover {
  cursor: pointer;
  background-color: rgb(0, 174, 255);
}

.delete-btn {
  background-color: rgb(255, 0, 0) !important;
  margin-left: 10px;
}
.delete-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 50, 50);
}

.signup {
  padding-top: 10px;
}

.logout-dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background: rgb(209, 209, 209);
  padding: 10px;
  border-radius: 5px;
}
.dropdown-logout {
  color: var(--text);
  background: none;
  border: none;
  font-weight: bold;
}
.dropdown-logout:hover {
  opacity: 0.8;
  cursor: pointer;
}

.errors-list {
  padding-top: 10px;
  padding-left: 0;
}
.errors-list li {
  color: red;
}

.confirm-button {
  border: none;
  background: none;
  padding: none;
}
.confirm-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.confirm-msg {
  color: red;
  padding-top: 5px;
}
.confirm-form {
  display: flex;
  align-items: center;
}

.projects-container h2 a:hover {
  opacity: 0.8;
}
.orange-text {
  color: orange;
}
.red-text {
  color: red;
}

.dark-bg {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.task-modal {
  background-color: var(--background);
  width: min(80vw, 400px);
  height: min(80vh, 500px);
  overflow: auto;
  z-index: 1;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
}
.task-modal h2 {
  font-size: 22px;
}
.task-modal p {
  font-size: 20px;
}
.task-modal .task-view-group {
  width: 100%;
  margin-top: 20px;
}
.task-desc {
  overflow: auto;
  max-height: 160px;
}
.task-modal button {
  border: none;
  background: rgb(0, 140, 255);
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.theme-btn {
  padding-right: 20px;
}
.theme-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

input,
textarea {
  color: rgb(40, 40, 40) !important;
}
